@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

@font-face {
  font-family: Hafs;
  src: url('assets/fonts/uthmanic_hafs_v20.ttf') format('truetype'),
       url('assets/fonts/uthmanic_hafs_v20-webfont.woff') format('woff'),
       url('assets/fonts/uthmanic_hafs_v20-webfont.woff2') format('woff2');

}


* {
  color: white;
}

body {
  background-color: #161616;
}

.t {
  background-color: #fe4641;
  width: fit-content;
  margin-top: 20px;
  margin-right: 10px;
  padding: 4px 6px 4px 6px;
  font-size: 19px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.t svg {
  vertical-align: middle;
  margin-left: 3px;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
}

ul#navBar {
  list-style-type: none;
  width: 100%;
  line-height: 60px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #0f0f0f;
}

.hrSurah {
  height: 1px;
  background-color: rgba(255,255,255,0.2);
  border: none;
}

.Block  {
  background-color: #1f2024;
  margin-bottom: 20px;
  padding: 0 40px 20px 20px;
  border: solid 1px rgba(255,255,255,0.1);
  border-radius: 3px;
}

ul#listsurat {
  list-style-type: none;
  display:flexbox;
}

ul#listsurat li {
  width: 15%;
  padding-left: 15%;
  line-height: 3.1em;
  font-size: 21px;
  font-weight: 600 !important;
  display: inline-block;
}

ul#listsurat li a:hover {
  color: #fe4641;

}

li.navitem a {
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  font-weight: 800 !important;
  color: white;
  font-family: "Vazirmatn" !important;
}

a {
  transition: ease-in 180ms;
}



li.navitem:not(.selected) a:hover {
  color: #fe4641;
}

li.navitem a:active {
  background-color: #fe4641;
  color: white !important;
}



.content {
  padding: 50px 15px 20px;
}

#Title {
  text-align: center;
  font-size: 40px;
  width: 100%;
}

#Title::before {
  line-height: 1.4;
}

h1 {
  font-size: 55px;
  font-weight: 900;
  text-align: center;
}
@media only screen and (min-width: 762px)  {
    h1::before,
    h1::after {
      content: "";
      display: inline-block;
      width: 25%;         /* Set your desired width here */
      max-width: 200px;
      height: 2px;         /* Thickness of the line */
      background: white;   /* Line color */
      vertical-align: middle;
      margin: 0 10px;
    }}


.selected {
  background-color: #fe4641;
  color: white !important;
}

.hafs {
  font-size: 2em;
  font-family: 'Hafs';
}

.ayahNumber {
  margin: 10px;
  font-size: 1.7em;
}

.pageNum {
  font-family:  'ui-serif','Georgia','Cambria','Times New Roman','Times','serif';
  font-size: 2em;
  margin-top: 0.6em;
  text-align: center;
}
.QuranText {
  display: inline;
  padding-left: 10px;
}

#player {
    position: fixed !important;
    max-width: 400px !important;
    bottom: 20px;
	left: 20px;
    z-index: 9999;
}

@media only screen and (max-width: 500px) {
  .page {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 576px) and (min-width: 379px) {
  .surahId {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

@media only screen and (max-width: 378px){
  .surahBlock{
    width: 200px;
  }
  .block{
    padding: 0 40px 0px 0px;
  }
  
  .surahId {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}